@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  background: #eee;
  font-family: 'Josefin Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
